.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: linear-gradient(to bottom right, #eef2f3, #8e9eab);
}

.label {
    -fx-text-fill: #333;
}

.button {
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1e3c72;
    -fx-text-fill: white;
}